<div class="row gx-0 vh-100">
	<div class="col-8 border border-primary p-5">
		<div class="border border-secondary w-100 h-100 overflow-hidden">
			<climbing/>
		</div>
	</div>
	<div class="col-4">
	</div>
</div>
