$primary: #e49e4c;
$secondary: #5db490;

// Import all of Bootstrap's CSS
@import "~bootstrap/scss/bootstrap";

body {
  background-color: #445d7b;
  color: #dcdcd2;
  font-family: Menlo, Monaco, "Courier New", monospace;
}
