import gitHubImg from "../../../../assets/img/GitHub.png";

<footer class="container d-flex justify-content-center align-items-center py-2">
	<a class="nav-link" href="" class="nav-link">
		Developed by
		<img
			src=require("../../../../assets/img/GitHub.png")
			alt="GitHub"
			width="18"
		>
		 Colin Santee
	</a>
</footer>
