import layout from "../../layouts/app-layout.marko";

<${layout} title="Colin Santee">
	<@body>
		<landing-header/>
		<div class="d-flex justify-content-center align-items-center">
			<h3>Colin Santee</h3>
		</div>
	</@body>
</>
