.threed {
  text-transform: uppercase;
  font-family: verdana;
  font-size: 12em;
  font-weight: 700;
  color: #f5f5f5;
  text-shadow: 1px 1px 1px #919191,
    1px 2px 1px #919191,
    1px 3px 1px #919191,
    1px 4px 1px #919191,
    1px 5px 1px #919191,
    1px 6px 1px #919191,
    1px 7px 1px #919191,
    1px 8px 1px #919191,
    1px 9px 1px #919191,
    1px 10px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
}

.threed-sm {
  font-size: 6em !important;
}

.form-control {
  border: 0;
  background-color: var(--bg-color);
}

.input-group {
  border-radius: var(--bs-border-radius);
}

.input-group, .form-control:not(.input-group > .form-control):not(:focus) {
  box-shadow: inset 0px 1px 8px rgba(0, 0, 0, 0.2);
}

.input-group:focus-within {
  box-shadow: 0 0 0 0.25rem rgba(228, 158, 76, 0.25);
}

.password-input-group > .form-control:focus {
  box-shadow: none;
}

.password-input-group > .btn {
  background-color: var(--bg-color);
  color: var(--bs-color);
  border: 0;
}

.password-input-group > .btn:hover {
  background-color: var(--bg-color);
  color: var(--bs-secondary);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.no-shadow, .no-shadow:focus {
  box-shadow: none;
}