<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta
			name="description"
			content="Personal portfolio site for Colin Santee."
		>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>${input.title || "Colin Santee"}</title>
		<${input.head}/>
	</head>
	<body>
		<app-body ...input/>
	</body>
</html>
